<div class="container">
  <h2>Добавление пожилого человека</h2>

  <form [formGroup]="registryForm" class="form">
    <mat-form-field class="full-width">
      <input matInput formControlName="name" placeholder="Имя" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="secondName" placeholder="Фамилия" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="lastName" placeholder="Отчество" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="address" placeholder="Адрес" />
    </mat-form-field>

    <div class="flexible">
      <mat-form-field class="datepicker">
        <input
          matInput
          formControlName="birthday"
          [matDatepicker]="picker"
          placeholder="Дата рождения"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button class="inline" mat-raised-button color="primary" disabled>
        Загрузить фотографию
      </button>
    </div>
    
    <mat-form-field class="full-width">
      <input matInput formControlName="phone" placeholder="Номер телефона" />
    </mat-form-field>

    <button
      class="btn-create"
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="registryForm.invalid"
    >
      Создать
    </button>
  </form>
</div>
