<h1>Добавление пожилого человека</h1>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Адрес">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Возраст">
  </mat-form-field>

  <button mat-raised-button>Создать</button>
</form>