<mat-accordion>
  <ng-container *ngFor="let task of tasks; trackBy: trackByFn">
    <mat-expansion-panel
      *ngIf="
        authService.userRole === 'ADMIN' ||
        (authService.userId && authService.userId === task.helperId) ||
        !task.helperId
      "
      (click)="consoleLog()"
    >
      <mat-expansion-panel-header>
        <div class="mat-panel">
          <mat-panel-title>
            <h6>{{ task.description }}</h6>
          </mat-panel-title>
          <mat-panel-description *ngIf="categories.length">
            <mat-chip color="primary" selected>{{
              getCategory(task.categoryId)
            }}</mat-chip>
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <div class="left-part">
          <p>Ближайщая дата: {{ task.dateStart | date: "dd M yyyy" }}</p>
          <p>Время: {{ task.timeHours }} часов {{ task.timeMinutes }} минут</p>

          <p *ngIf="task.repeatDays">В какие дни нужна помощь:</p>
          <mat-chip-list>
            <mat-chip color="accent" selected *ngIf="task.repeatDays && task.repeatDays['Monday']"
              >Понедельник</mat-chip
            >
            <mat-chip color="accent" selected *ngIf="task.repeatDays && task.repeatDays['Tuesday']"
              >Вторник</mat-chip
            >
            <mat-chip color="accent" selected  *ngIf="task.repeatDays && task.repeatDays['Wednesday']"
              >Среда</mat-chip
            >
            <mat-chip color="accent" selected  *ngIf="task.repeatDays && task.repeatDays['Thursday']"
              >Четверг</mat-chip
            >
            <mat-chip color="accent" selected *ngIf="task.repeatDays && task.repeatDays['Friday']"
              >Пятница</mat-chip
            >
            <mat-chip color="accent" selected *ngIf="task.repeatDays && task.repeatDays['Saturday']"
              >Суббота</mat-chip
            >
            <mat-chip color="accent" selected *ngIf="task.repeatDays && task.repeatDays['Sunday']"
              >Воскресенье</mat-chip
            >
          </mat-chip-list>
        </div>

        <div class="right-part">
          <div *ngIf="!task.helperId">
            <div *ngIf="!loadingNewHelper" class="no-helper">
              Волонтера пока нет
              <mat-icon
                class="icon-no-smile"
                aria-hidden="false"
                aria-label="Example delete icon"
                >sentiment_dissatisfied</mat-icon
              >
            </div>
            <mat-spinner *ngIf="loadingNewHelper" diameter="70"></mat-spinner>
          </div>

          <div *ngIf="task.helperId">
            <app-helper-card
              [helperId]="task.helperId"
              [task]="task"
            ></app-helper-card>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <button
          mat-raised-button
          (click)="getTask(task)"
          *ngIf="authService.userRole === 'HELPER'"
        >
          Взять задание
        </button>
        <button
          mat-raised-button
          (click)="cancelTask(task.id)"
          *ngIf="authService.userRole !== 'HELPER'"
        >
          Закрыть задачу
        </button>
        <button
          mat-raised-button
          (click)="addHelper()"
          *ngIf="authService.userRole === 'ADMIN'"
        >
          Назначить
        </button>
      </div>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
