<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Волонтеры Твери</span>
      <span class="example-spacer"></span>
      <a [routerLink]="['/tasks']" class="menu-item">Задачи</a>
      <a [routerLink]="['/users/volonters']" class="menu-item">Волонтеры</a>
      <a [routerLink]="['/users/olders']" class="menu-item">Пожилые</a>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notifications</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">home</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>