<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{user.secondName}} {{user.name}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>{{user.address}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../assets/svg/baseline-person-24px.svg"
    alt="Фото пользователя"
  />
  <mat-card-content>
    <p>
      {{ user.phone}}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <ng-content></ng-content>
    <!-- <button mat-raised-button class="btn--spaced">Добавить задание</button>
    <button mat-raised-button class="btn--spaced">
      Добавить волонтера в помощь
    </button> -->
  </mat-card-actions>
</mat-card>
