<div class="container--center">
  <div class="container">
    <form [formGroup]="loginForm" autocomplete="off" class="form" (submit)="submit($event);">
      <mat-form-field  class="full-width">
        <input 
          matInput 
          formControlName="phone"
          placeholder="Мобильный телефон"
          type="tel"
        >
        <mat-error *ngIf="loginForm.controls.phone.hasError('required')">
          Mobile is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field  class="full-width">
        <input 
          matInput 
          formControlName="password"
          placeholder="Пароль" 
          type="password"
        >
        <mat-error *ngIf="loginForm.controls.phone.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button 
        class="btn-create" 
        mat-raised-button
        [disabled]="loginForm.invalid"
        color="primary"
      >
        Войти
      </button>
    </form>
  </div>
</div>
