<div class="container--center">
  <div class="container">
    <form [formGroup]="loginForm" autocomplete="off">
      <mat-form-field>
        <input 
          autocomplete="mobile"
          matInput 
          formControlName="phone"
          placeholder="Мобильный телефон"
          type="tel"
        >
        <mat-error *ngIf="loginForm.controls.phone.hasError('required')">
          Mobile is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput 
          formControlName="password"
          placeholder="Пароль" 
          type="password"
        >
        <mat-error *ngIf="loginForm.controls.phone.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
