<div *ngIf="(user | async) as user" class="container profile-page">
  <app-profile-card 
    [user]="user"
  >
  </app-profile-card>
  <div>
    <div class="right-part">
        <button mat-raised-button color="primary" (click)="addHelper()">Добавить волонтера</button>
        <button mat-raised-button color="primary" (click)="navigateTo('admin/add_older');">Добавить пожилого человека</button>
    </div>

    <h4>Лучше волонтеры</h4>
    
    <div class="flexible">
        <app-helper-card *ngFor="let user1 of mockUsers" [helperId]="user1.id" [closedTasks]="user1.closedTasks"></app-helper-card>
    </div>
  

    <img src="../../../assets/upd-task.PNG" alt="">
  </div>
</div>
