<div class="container">
  <h1>Добавление задания</h1>

  <form [formGroup]="taskForm" class="form">
    <mat-form-field class="full-width">
      <input matInput formControlName="name" placeholder="Кому нужна помощь">
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput formControlName="surname" placeholder="Описание"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="method" aria-label="Сколько раз помочь?">
      <mat-radio-button value="once">Один раз помочь</mat-radio-button>
      <mat-radio-button value="repeat">Повторять помощь</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="taskForm.value.method === 'repeat'" class="checkboxes">
      <mat-checkbox>Понедельник</mat-checkbox>
      <mat-checkbox>Вторник</mat-checkbox>
      <mat-checkbox>Среда</mat-checkbox>
      <mat-checkbox>Четверг</mat-checkbox>
      <mat-checkbox>Пятница</mat-checkbox>
      <mat-checkbox>Суббота</mat-checkbox>
      <mat-checkbox>Воскресенье</mat-checkbox>
    </div>
  
    <mat-form-field class="datepicker">
      <input matInput formControlName="old" [matDatepicker]="picker" placeholder="Дата начала">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <button class="btn-create" mat-raised-button (click)="submit()">Создать</button>
  </form>
</div>