<mat-card *ngIf="helper" class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ helper.name }} {{ helper.secondName }}</mat-card-title>
      <mat-card-subtitle>Волонтер</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span class="bold">Телефон:</span> {{ helper.phone }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="!closedTasks">
      <button mat-raised-button (click)="openProfile()" *ngIf="authService.userId !== helper.id">Профиль</button>
      <button mat-raised-button (click)="removeFromTask()" *ngIf="authService.userRole !== 'OLDER'">Снять с задачи</button>
    </mat-card-actions>

    <div *ngIf="closedTasks" class="top">
        <p>Задач выполнено: {{closedTasks}}</p>
    </div>
    
  </mat-card>